{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>ecoo print wallet</title>

</head>
<body>
    <main>
        <section class="top">
            <h4>ecoo Print-Wallet</h4> 
            <h1>WetziKoins</h1>
            <p>Die Stadt Wetzikon gibt allen Einwohnerinnen und Einwohner WetziKoins im Wert von 10 Franken, damit sie lokal einkaufen und so das Gewerbe unterstützen können.</p>
            <img class="provider-logo" src="file://{{wetzikon_bw}}" alt="Stadt Wetzikon">
        </section>
        <section class="bottom left">
            <h4>Kurzanleitung</h4>
            <ol>
                <li>Gutschein beim nächsten Einkauf in ihrer Stadt mitnehmen.</li>
                <li>Den Gutschein an der Kasser vorweisen und abscannen lassen.</li>
                <li>Schreiben Sie sich den übriggebliebenen Betrag auf den Gutschein, für das nächste Mal.</li>
            </ol>
            <div class="ecoologo">
                <img src="file://{{logo}}" alt="ecoo logo">
                <a href="https://payecoo.ch">www.payecoo.ch</a>
            </div>
        </section>
        <section class="bottom right">
            <div class="badge">
                <div class="badge__qrcode">
                    <img src="data:;base64,{{image}}" >
                </div>

                <div class="badge__text">
                    <h2>CHF 10.- </h2>
                    <h3>Gutschein</h3>
                    <p>Einlösbar beim lokalen Gewerbe<br>Ihrer Stadt. </p>
                    <h4>Währung: WetziKoins</h4>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
