{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block content %}
    <div id="content-main">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <h2>{% trans 'Generate Payout XML' %}</h2>
                <div class="description">
                    {% blocktrans %}
                        You are about to generate a payout XML containing {{cash_out_requests.count}} transactions. 
                        The total amount is going to be {{cash_out_requests.count}}. The actual beneficiaries are:
                        
                    {% endblocktrans %}
                    <ul>
                        {% for cash_out_request in cash_out_requests %}
                            <li>
                               {{cash_out_requests.beneficiary_name (cash_out_requests.beneficiary_iban)}}: {{cash_out_requests.transaction.amount}} CHF
                            </li>
                        {% endfor %}
                    </ul>
                    {% trans 'Please enter the payment date below:' %}
                </div>
                {% for field in form %}
                    <div class="form-row">
                        {% if field.errors %}{{ field.errors }}{% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'Generate Payout XML' %}" class="default" />
            </div>
        </form>
    </div>
{% endblock %}